<!-- Called from the static_pages_controller about method -->
<% provide(:title, "About") %> <!--provides the value for :title when contorl is yeilded -->

<h1>Sample App</h1>
<p>This is the sample about page</p>
