<!-- Called from the static_pages_controller help method -->
<% provide(:title, "Help") %> <!--provides the value for :title when contorl is yeilded -->

<h1>Sample App</h1>
<p>This is the sample help page</p>
