<!-- Called from the static_pages_controller home method -->
<% provide(:title, "Home") %> <!--provides the value for :title when contorl is yeilded -->

<h1>Sample App</h1>
<p>This is the sample home page</p>

